// this is for light
$primary-color: #420516;
$secondary-color: #7D1935;
$third-color: #B42B51;
$forth-color:#E63E6D;
$custom-white: #ffffff;
$gold-color: #ffcf40;
$background-primary: linear-gradient(to bottom ,rgba(0, 0, 0, 1), rgba(255,215,0,1));
$primary-font: "Brush Script MT",Cursive;
$secondary-font: Fantasy;
$navbar-color-blue:#2196F3;
$navbar-color-red: #f44336;
$navbar-color-gray: #555;
// this is for dark
$primary-dark-color: #261C2C;
$secondary-dark-color: #3E2C41;
$third-dark-color: #5C527F;
$forth-dark-color:#6E85B2;
$custom-dark-white: #ffffff;
$gold-dark-color: #ffcf40;
$navbar-color-dark-blue-dark:#1D2D50;
$navbar-color-dark-blue: #133B5C;
$navbar-color-dark-blue-light: #1E5F74;
$navbar-dark-color-third: #5C527F;